:root {
    background-image: url("./images/background.png");
    background-size: cover;
    background-position-x: 50%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-family: 'ヒラギノ角ゴシック', 'Meiryo UI';
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.can-selection {
    user-select: text;
}

.center {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}


.section {
    -webkit-text-stroke-width: 1px;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

.my-icon {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-width: 5px;
    border-color: #1a2757;
    border-style: solid;
}

.description {
    width: 20rem;
    height: 80px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    margin: 0 auto;
    position: relative;
}

.description-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    width: 15em;
}

.name {
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: #000;
    height: 50px;
}

.link-space {
    height: 9rem;
}

.link {
    width: 20rem;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    border-radius: 30px;
    border-width: 0px;
    position: relative;
    transition: 0.2s;
}

.link:hover {
    transform: scale(1.1);
}

@keyframes scale-up {
    to {
        transform: scale(1.1);
    }
}

.link-icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(40%, -50%);
}

.link-name {
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    color: #000;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(0%, 0%);
}

.link-subtext {
    font-size: 18px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #666;
    color: #666;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(0%, 0%);
}

.footer {
    height: 130px;
    text-align: center;
    position: relative;
}

.footer-text {
    background: rgba(255, 255, 255, 0);
    border-top: 3px solid rgba(255, 255, 255, 0.3);
    color: #555;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 60%;
    left: 0%;
    transform: translate(0%, 0%);
}