:root {
    background-image: url("./images/background.png");
    background-size: cover;
    background-position-x: 50%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-family: 'ヒラギノ角ゴシック', 'Meiryo UI';
    user-select: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.my-icon {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-width: 5px;
    border-color: rgb(26, 39, 87);
    border-style: solid;
}

.description {
    width: 400px;
    height: 80px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    margin: 0 auto;
    position: relative;
}

.description-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    width: 300px;
}

.name {
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: #000;
    height: 50px;
}

.section {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    width: 600px;
}

.link-space {
    height: 180px;
}

.link {
    width: 400px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    border-radius: 30px;
    border-width: 0px;
    position: relative;
}

.link:hover {
    border-color: rgb(26, 39, 87);
    border-width: 3px;
}

.link-icon {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(20%, -50%);
}

.link-name {
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    color: #000;
    text-align: left;
    position: absolute;
    top: 0%;
    left: 35%;
    transform: translate(0%, 90%);
}

.link-subname {
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    color: #000;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(0%, 0%);
}
.section {
    -webkit-text-stroke-width: 1px;
    font-size: 25px;
}

.footer {
    height: 130px;
    text-align: center;
    position: relative;
}

.footer-text {
    background: rgba(255, 255, 255, 0);
    border-top: 3px solid rgba(255, 255, 255, 0.3);
    color: #555;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 60%;
    left: 0%;
    transform: translate(0%, 0%);
}

.can-selection {
    user-select: text;
}